* {
	box-sizing: border-box;
}

body {
	background-color: white;
	margin: 0;
	font-family: 'Inter', $font-family-standard;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #eeeeee;
	&-thumb {
		background-color: $color-grey-medium;
		&:hover {
			background-color: $color-grey-mediumdark;
		}
		&:active {
			background-color: rgb(141, 141, 141);
		}
	}
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {
	text-decoration: underline;
	&:hover {
		cursor: pointer;
	}
}

strong, b {
	font-weight: $font-weight-bold;
}

.button {
	border: none;
	background-color: $color-grey-medium;
	border-radius: $border-radius-md;
	font-size: 15px;
	padding: 9px 15px 10px;
	font-family: $font-family-standard;
	&:hover {
		cursor: pointer;
		background-color: $color-grey-mediumdark;
	}

	&--focus {
		background-color: $color-primary;
		color: white;
		&:hover {
			background-color: $color-primary-darkened;
		}
	}

	&.inactive {
		opacity: 0.4;
		pointer-events: none;
	}
}